*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    /* border: 2px solid black; */
}
.navbar img{
    height: 2.5rem;
    width: 7rem;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 110vh;
    /* border: 2px solid red; */
}
.list a{
    color: grey;
    font-size: 1.1rem;
    text-decoration: none;
}
.list a:nth-child(1){
    color: black;
}
.list button{
    height:6vh;
    width: 16vh;
    color: rgb(36, 169, 247);
    background-color: transparent;
    border: 2px solid rgb(36, 169, 247);
    border-radius: 5px;
    
}
/*############Main####################*/
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 70vh;
    width: 75vh;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.left p{
    font-size: 1rem;
}
.left button{
    height: 4rem;
    width: 7rem;
    border: none;
    color: white;
    background-color: rgb(36, 169, 247);
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgb(140, 206, 247);
    
}
.main img{ 
    height: 70vh;
    width: 75vh; 
    
}
/*############# MAIN 1 ###############*/
.main1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    margin-top: 2rem;
    /* border: 2px solid rgb(24, 24, 250); */

}
.main1 img{ 
    height: 70vh;
    width: 75vh; 
    
}
.right{
    display: flex;
    flex-direction: column;
    gap:2rem;
    height: 70vh;
    width: 75vh;
    /* border: 2px solid rgb(24, 24, 250); */
}
.right h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.right p{
    font-size: 1rem;
}
.right button{
    height: 2.5rem;
    width: 7rem;
    border: none;
    color: white;
    background-color: rgb(36, 169, 247);
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgb(205, 216, 223);
}
/*############# MAIN 1 END ################*/

/*########### MAIN 3 ################*/

.main3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 70vh;
    width: 75vh;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left h1{
    font-size: 3rem;
    margin-top: 4rem;
}
.left p{
    font-size: 1rem;
}
.left button{
    height: 2.5rem;
    width: 7rem;
    border: none;
    color: white;
    background-color: rgb(36, 169, 247);
    box-shadow: 1px 1px 2px 2px rgb(205, 216, 223);
    
}
.main3 img{ 
    height: 70vh;
    width: 75vh; 
}
/*############# MAIN 3 END ################*/

.main4{
    height: 45rem;
    /* border: 2px solid blue; */
}
.short{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    /* border: 2px solid blue; */
}
.short h1{
    font-size: 3rem;
}
.long{
    height: 35rem;
    /* border: 2px solid blue; */
    margin-top: 1.5rem;
}
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 17rem;
    /* border: 2px solid blue; */
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 17rem;
    /* border: 2px solid blue; */
}
.first{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1.5rem;
    height: 16rem;
    width: 20rem;
    /* border: 2px solid rgb(7, 7, 7); */
}
.second{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1.5rem;
    height: 16rem;
    width: 20rem;
    /* border: 2px solid rgb(7, 7, 7); */
}
.third{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1.5rem;
    height: 16rem;
    width: 20rem;
    /* border: 2px solid rgb(7, 7, 7); */
}
.first img{
    height: 50px;
    width: 50px;
}
.second img{
    height: 50px;
    width: 50px;
}
.third img{
    height: 50px;
    width: 50px;
}
/*###########MAIN 5 ##############*/
.main5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 45rem;
    background-color: rgb(36, 169, 247);
}
.content{
    padding-top: 2rem;
    text-align: center;
    height: 6rem;
    width: 50rem;    
    /* border: 2px solid rgb(5, 5, 10); */
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    gap: 7vh;
    height: 30rem;
    /* border: 2px solid rgb(36, 169, 247); */
}
.bone, .btwo, .bthree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30rem;
    width: 20rem;
    background-color: white;
    /* border: 2px solid rgb(6, 6, 7); */
    border-radius: 10px;
}
.one{
    height: 6rem;
    align-content: center;
    padding-left: 1.4rem;    
    /* border: 2px solid rgb(6, 6, 7); */
    
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 13rem;
    padding-left: 1.4rem;
    align-content: center;  
    /* border: 2px solid rgb(6, 6, 7); */
    
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0.5rem;    
    height: 7.3rem;
    align-content: center;    
    /* border: 2px solid rgb(6, 6, 7); */
}
.three button{
    height: 6vh;
    width: 17vh;
    color: rgb(36, 169, 247);
    border: 1px solid rgb(36, 169, 247);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 1px 1px 2px 2px rgb(140, 208, 248);
}
.btwo .one{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.btwo .three button{
    height: 6vh;
    width: 17vh;
    color: white;
    border: 1px solid rgb(36, 169, 247);
    border-radius: 5px;
    background-color: rgb(36, 169, 247);
}
/*############# MAIN 5 END#############*/

/*##############MAIN 6 ###############*/
.main6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conten{
    height: 7rem;
    width: 50rem;    
    text-align: center;
    padding: 2rem;
    /* border: 2px solid rgb(91, 91, 247); */
}
.boxess{
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    height: 35rem;
    /* border: 2px solid rgb(91, 91, 247); */
    
}
.box-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 21rem;
    
    /* border: 2px solid rgb(6, 6, 7); */
}
.ek, .do, .teen, .char{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    padding: 1rem;
    height: 14rem;
    width: 32rem;
    border: 2px solid rgb(230, 227, 227);
    border-radius: 10px;
}
.outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 11rem;
    /* border: 1px solid rgb(6, 6, 7); */
}
.circle{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(182, 181, 181);
    /* border: 2px solid rgb(6, 6, 7); */
}
.box-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 21rem;
    /* border: 2px solid rgb(6, 6, 7); */
}
/*################ MAIN 7 ##############*/

.main7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    background-color: rgb(36, 169, 247);
}
.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    height: 14rem;
    width: 25rem;
    margin-top: 3rem;
    /* border: 2px solid rgb(6, 6, 7); */
}
.main7 button{
    color: white;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    border: 2px solid rgb(140, 208, 248); 
    background-color: transparent;
    box-shadow: 1px 1px 2px 2px rgb(140, 208, 248);
}
/* ##################MAIN 7 END ###########*/

/*############### FOOTER ##################*/
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
.log-con{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 1rem; */
    height: 10rem;
    width: 20rem;
    /* border: 2px solid black; */
}
.log-con img{
    height: 40px;
    width: 100px;
}
.list1{
    display: flex;
    justify-content: space-evenly;
    height: 15rem;
    width: 33rem;
    /* border: 2px solid black; */
}
.Menu, .Link, .Overview{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
    height:12rem;
    width: 10rem;
    /* border: 2px solid black; */
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    width: 15rem;
    /* border: 2px solid black; */
}
.icons{    
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    width: 12rem;
    /* border: 2px solid black; */
}
.icons img{
    height: 2rem;
}






/*############Responsive#############*/
@media only screen and (max-width:900px){
    *{
        margin: 0;
        padding: 0;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:3rem;
        height: 10vh;
        overflow: scroll;
        /* border: 2px solid black; */
    }
    .navbar img{
        height: 2.5rem;
        width: 7rem;
        position: relative;
    }
    .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        width: 100vh;
        gap: 1.5rem;
        /* border: 2px solid red; */
    }
    .list a{
        color: grey;
        font-size: 1.3rem;
        text-decoration: none;
    }
    /*############Main####################*/
.main{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
    height: 50rem;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    height: 55vh;
    width: 75vh;
    /* margin-top: 10rem; */
    /* border: 2px solid rgb(24, 24, 250); */
}
.left h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}
.left p{
    font-size: 1.2rem;
}
.left button{
    height: 3rem;
    width: 7rem;
    border: none;
    color: white;
    background-color: rgb(36, 169, 247);
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgb(140, 206, 247);
    
}
.main img{ 
    height: 50vh;
    width: 65vh; 
    position: relative;    
    padding-left: 10rem;
    /* margin-bottom: 30rem; */
    
}

/*############# MAIN 1 ###############*/
.main1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height:50rem;
    margin-top: 2rem;
    /* border: 2px solid rgb(24, 24, 250); */

}
.main1 img{ 
    height: 50vh;
    width: 65vh; 
    position: relative;
    padding-left: 10rem;
    align-items: center;
    
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:2rem; */
    height: 70vh;
    width: 75vh;
    padding-left: 12rem;
    /* border: 2px solid rgb(24, 24, 250); */
}
.right h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}
.right p{
    font-size: 1rem;
}
.right button{
    height: 2.5rem;
    width: 7rem;
    border: none;
    color: white;
    background-color: rgb(36, 169, 247);
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgb(205, 216, 223);
}
/*############# MAIN 1 END ################*/
/*########### MAIN 3 ################*/

.main3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55vh;
    width: 75vh;
    /* border: 2px solid rgb(24, 24, 250); */
}
.left h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.left p{
    font-size: 1.2rem;
}
.left button{
    height: 3rem;
    width: 7rem;
    border: none;
    color: white;
    background-color: rgb(36, 169, 247);
    box-shadow: 1px 1px 2px 2px rgb(205, 216, 223);
    
}
.main3 img{ 
    height: 60vh;
    width: 75vh; 
    position: relative;
    align-items: center;
    padding-left: 12rem;
}
/*############# MAIN 3 END ################*/
/*#############MAIN 4 ######################*/
.main4{
    height: 120rem;
    /* border: 2px solid blue; */
}
.short{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    padding-left: 2rem;
    height: 17rem;
    width: 35rem;
    /* border: 2px solid blue; */
}
.short h1{
    font-size: 3.2rem;
    text-align: center;
}
.short p{
    text-align: center;
}
.long{
    height: 102rem;
    width: 35rem;
    /* border: 2px solid blue; */
    margin-top: 1.5rem;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    width: 35rem;
    /* border: 2px solid blue; */
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    width: 35rem;
    /* border: 2px solid blue; */
}
.first{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 1.5rem;
    height: 16rem;
    width: 20rem;
    /* border: 2px solid rgb(7, 7, 7); */
}
.second{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 1.5rem;
    height: 16rem;
    width: 20rem;
    /* border: 2px solid rgb(7, 7, 7); */
}
.third{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 1.5rem;
    height: 16rem;
    width: 20rem;
    /* border: 2px solid rgb(7, 7, 7); */
}
.first img{
    height: 50px;
    width: 50px;
}
.second img{
    height: 50px;
    width: 50px;
}
.third img{
    height: 50px;
    width: 50px;
}
/*###########MAIN 5 ##############*/
.main5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    /* padding-left: 5rem; */
    height: 130rem;
    width: 37rem;
    
    background-color: rgb(36, 169, 247);
}
.content{
    padding-top: 2rem;
    text-align: center;
    height: 5rem;
    width: 25rem;    
    /* border: 2px solid rgb(5, 5, 10); */
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7vh;
    height: 120rem;
    border: 2px solid rgb(36, 169, 247);
}
.bone, .btwo, .bthree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60rem;
    width: 30rem;
    background-color: white;
    /* border: 2px solid rgb(6, 6, 7); */
    border-radius: 10px;
}
.one{
    height: 6rem;
    align-content: center;
    padding-left: 1.4rem;    
    /* border: 2px solid rgb(6, 6, 7); */
    
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 13rem;
    padding-left: 1.4rem;
    align-content: center;  
    /* border: 2px solid rgb(6, 6, 7); */
    
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0.5rem;    
    height: 7.3rem;
    align-content: center;    
    /* border: 2px solid rgb(6, 6, 7); */
}
.three button{
    height: 6vh;
    width: 17vh;
    color: rgb(36, 169, 247);
    border: 1px solid rgb(36, 169, 247);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 1px 1px 2px 2px rgb(140, 208, 248);
}
.btwo .one{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.btwo .three button{
    height: 6vh;
    width: 17vh;
    color: white;
    border: 1px solid rgb(36, 169, 247);
    border-radius: 5px;
    background-color: rgb(36, 169, 247);
}
/*############# MAIN 5 END#############*/

/*##############MAIN 6 ###############*/
.main6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 85rem;
    width: 37rem;
    /* border: 2px solid rgb(91, 91, 247); */
}
.conten{
    height: 7rem;
    width: 30rem; 
      
    /* border: 2px solid rgb(91, 91, 247);  */
    
     
}
.boxess{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    gap: 2rem;
    height: 70rem;
    /* padding-left: 5rem; */
        
}
.box-one{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45rem; 
    
    
    /* border: 2px solid rgb(6, 6, 7); */
}
.ek, .do, .teen, .char{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    
    padding: 1rem;
    height: 14rem;
    width: 30rem;
    border: 2px solid rgb(230, 227, 227);
    border-radius: 10px;
}
.outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 11rem;
    /* border: 1px solid rgb(6, 6, 7); */
}
.circle{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(182, 181, 181);
    /* border: 2px solid rgb(6, 6, 7); */
}
.box-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 45rem;
    /* padding-left: 10vh; */
    /* border: 2px solid rgb(6, 6, 7); */
}
/*################ MAIN 7 ##############*/

.main7{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25rem;
    width: 37rem;
    background-color: rgb(36, 169, 247);
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    color: white;
    height: 10rem;
    width: 25rem;
    /* margin-top: 3rem; */
    /* border: 2px solid rgb(6, 6, 7); */
}
.main7 button{
    color: white;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    border: 2px solid rgb(140, 208, 248); 
    background-color: transparent;
    box-shadow: 1px 1px 2px 2px rgb(140, 208, 248);
}
/* ##################MAIN 7 END ###########*/

/*############### FOOTER ##################*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 55rem;
    width: 37rem;
}
.log-con{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    width: 20rem;
    /* border: 2px solid black; */
}
.log-con p{
    text-align: center;
}
.log-con img{
    height: 40px;
    width: 100px;
}
.list1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25rem;
    width: 33rem;
    /* border: 2px solid black; */
}
.Menu, .Link, .Overview{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
    padding: 2vh;
    text-align: center;
    height:12rem;
    width: 10rem;
    /* border: 2px solid black; */
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 7rem;
    height: 6rem;
    width: 15rem;
    /* border: 2px solid black; */
}
.icons{    
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    width: 12rem;
    /* border: 2px solid black; */
}
.icons img{
    height: 2rem;
}
}